.personal h6,.password h6{
    border-bottom: 2px solid $black-dark;
}
.memberList li{
    margin-bottom: 24px;
    a{
        border-bottom: 0px solid transparent;
        transition: all .6s;
    }
    a:hover{
        
        text-decoration: none;
        border-bottom: 2px solid $primaryDark;
    }
}
.revise{
    height: 38px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: $primaryDark;
} 
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-control-input:active~.custom-control-label::before{
    background-color:green;
}

/** focus shadow pinkish **/
.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem $primary; 
}