.footerBanner{
    background-image: url(../images/footer.png);
    height: 600px;
    background-position: center;
    background-size: cover
}
.footer-contact{
    background-color: $primaryDark;
    color: #FFFFFF;
    ul{
        padding:20px 0;
    }
    a{
        color: #FFFFFF;
        font-size: 1.25rem;
    }
}
.footer-form{
    position: absolute;
}
@include pad(){
    .plan{
        width: 300px;
    }   
    .footerBanner h2{
        top: 340px;
        left: 100px;
    }
}
@include mobile(){
    .footerBanner{
        background: url(../images/footerMob.png) no-repeat;
        img{
            height: auto;
        }

    }
    .plan{
        width: 345px;
    }   
}


